:root{
    --noir:black;
    --blanc: white;
    --gris: #C4C4C4;
    --manga:#2F80ED;
    --mavo:#DF9167;

}




.navbar{
    border-bottom: 1px solid rgb(244, 68, 68);
    
}
@media (min-width:768px){
    .navbar{
        border-bottom: 2px solid rgb(234, 218, 218);
        height: 40px;
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        
    }
}
.slogans{

}
.logo{
   display: none;
}
@media (min-width:768px){
    .logo{
        border: 0px solid gray;
        height: 30px; 
        width: 400px;
        margin-left: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }
}
.text{
    font-weight: bold; 
    align-items: center; 
}
.recherch{
    display: flex;
    border: 0px solid gray;
    width: 100px;
    height: 30px;
    align-items: center;
}
.recherche{
    color: gray;
}
.login{
    display: none;
}
@media (min-width:768px){
    .login{
        border: 0px solid gray;
        height: 30px;
        width: 452px;
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: end;
    }
}
.topnav{
    border-bottom: 1px solid rgb(244, 68, 68);
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
@media (min-width:768px){
    .topnav{
       display: none;
    }
}
.recherchs{
    width: 200px;
    height: 25px;
    border: #000 0px solid;
    align-items: center;
    background-color: #ededed;
}
@media (min-width:768px){
    .recherchs{
        border: #000 1px solid;
        align-items: center;
        justify-content: flex-end;
        width: 60px;
        height: 30px;
    }
}
.icon{
    width: 16px;
    height:16px;
    margin-top:5px;
    margin-left: 175px;
}
@media (min-width:768px){
    .icon{
        height: 16px;
        color: #A9ABBD;
        margin-left: 0px;
    }
}
.containt{
    margin-top: 10px;
    height: 200px;
    border: 0px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.titre{
    font-size: 30px;
    font-weight: bolder;
    color: #353030;

}
@media (min-width:768px){
    .titre{
        font-size: 56px;
        font-weight: bolder;
    
    }
}
.sous-titre{
    font-size: 16px;
    line-height: 18px;
    width: 280px;
    height: 65px;
}
@media (min-width:768px){
    .sous-titre{
        font-size: 20px;
        line-height: 28px;
        width: 610px;
        height: 84px;
    }
}
.btn{
    text-align: center;
    height: 40px;
    width: 150px;
    background-color: transparent;
    border: 1px solid black;
    font-weight: 200;
    font-size: 14px;
}
@media (min-width:768px){
    .btn{
        text-align: center;
        height: 40px;
        width: 150px;
        background-color: transparent;
        border: 1px solid black;
        font-weight: 400;
        font-size: 15px;
    }
}
.Rectangle{
    border: 1px solid gray;
    width: 310px;
    height: 220px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    background: #C4C4C4;
}
@media (min-width:768px){
    .Rectangle{
        border: 1px solid gray;
        width: 920px;
        height: 521px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        background: #C4C4C4;
    }
}
.contenu{
    width: 320px;
    height: auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;

}
@media (min-width:768px){
    .contenu{
        width: 860px;
        height: 67px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    
    }
}
.marque{
    width: 300px; 
    height: 30px;
    object-fit: contain;
}
@media (min-width:768px){
    .marque{
        width:0%;
        height:0%; 
    }
}
.containt1{
    margin-top: 10px;
    height: 200px;
    border: 0px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.titre1{
    font-size: 30px;
    font-weight: bolder;

}
@media (min-width:768px){
    .titre1{
        font-size: 56px;
        font-weight: bolder;
    
    }
}
.sous-titre1{
    font-size: 16px;
    line-height: 18px;
    width: 280px;
    height: 65px;
}
@media (min-width:768px){
    .sous-titre1{
        font-size: 20px;
        line-height: 28px;
        width: 610px;
        height: 84px;
    }
}
.protege{
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    margin-top: 60px
}
@media (min-width:768px){
    .protege{
        width: 100%;
        margin-bottom: 123px;
        align-items: center;
        justify-content: center;
        margin-top: 151px;
        flex-direction: row;
    }
}
.frame{
    border: 1px solid gray;
    width: auto;
    height: 180px;
    background-color: grey;
    margin: 10px ;
}
@media (min-width:768px){
    .frame{
        border: 1px solid gray;
        width: 368px;
        height: 521px;
        background-color: grey;
        margin: 10px ;
    }
}
.frame:nth-child(2){
    transform: none;
}
@media (min-width:768px){
    .frame:nth-child(2){
        transform: translateY(-20%);
    }
}
.rectangle1{
    border: 1px solid gray;
    width: auto;
    height: 216px;
    margin-top: 10px;
    background: #0D0D0D;
    height: 168px;
}
@media (min-width:768px){
    .rectangle1{
        border: 1px solid gray;
        height: 216px;
        margin-top: 10px;
        background: #0D0D0D;
    }
}
.titre2{
    width: 184px;
    height: 48px;
    color: #FFFFFF;
    margin-top: 10px;
    line-height: 48px;
    font-size: 30px;
    font-weight: bolder;
}
@media (min-width:768px){
    .titre2{
        width: 184px;
        height: 48px;
        color: #FFFFFF;
        padding-left: 145px;
        margin-top: 10px;
        font-weight: 600;
        font-size: 36px;
        line-height: 48px;
    }
}
.sous-titre2{
    font-size: 16px;
    line-height: 18px;
    width: 280px;
    height: 65px;
    color: #FFFFFF;
}
@media (min-width:768px){
    .sous-titre2{
        width: 476px;
         height: 78px;
        padding-left: 145px;
        margin-top: 10px;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: #FFFFFF;
    }
}
.parag{
    margin-top: 20px;
    width: 1111px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.iteme{
    width: 160px;
    height: 30px;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.names{
    width: 75px;
    height: 30px;
    color: #000000;
    letter-spacing: -0.55px;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
}
.name{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C4C4C4;
    letter-spacing: -0.4px;
    text-decoration-line: underline;
    text-decoration-color: #C4C4C4;
}
.rect{
    gap: 10px;
    max-width: 1122px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.head{
    max-width: 1120px;
    height: 73px;
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
@media (min-width:768px){
    .head{
        max-width: 1120px;
        height: 73px;
        display: flex; 
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
    }
}
.choix{
    width: 407px;
    height: 73px;
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    gap: 9px; 
}
@media (min-width:768px){
    .choix{
        width: 407px;
        height: 73px;
        display: flex; 
        flex-wrap: nowrap;
        align-items: center;
        gap: 9px; 
    }
}
.ensemble{
    color: var(--noir);
    padding: 15px 30px;
    border: 1px solid;
    border-color: var(--noir);
    text-decoration: none;
}
.child{
    background-color: #000000;
    color: var(--blanc);
    border: none;
}
.text{
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 28px;
}
.option{
 
    width: 160px;
    height: 80px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
}
@media (min-width:768px){
    .option{
 
        width: 160px;
        height: 80px;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 10px;
    }
}
.butumn{
    width: 160px;
    height: 34px;
    font-size: 14px;
    align-items: center;
    border: 1px solid black;
    background-color: #FFFFFF;
}
@media (min-width:768px){
    .butumn{
        width: 160px;
        height: 50px;
        align-items: center;
        border: 1px solid black;
        background-color: #FFFFFF;
    }
}
.names{
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;  
    width: 135px;
    height: 27px;
    letter-spacing: -0.4px;
    color: #000000;
    align-items: center;
}
.class{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 58px;
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    gap: 16px;
    flex-wrap: wrap;
    margin-top: 100px;
}
@media (min-width:768px){
    .class{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 331px;
        max-width:1120px;
        margin-left: auto;
        margin-right: auto;
        gap: 18px;
    }
}
.enf{
    width: auto;
    height: 120px;
    gap: 12px 
}
@media (min-width:768px){
    .enf{
        width: 265px;
        height: 331px; 
        gap: 12px;   
    }
}
.imag{
    Width: auto;
    Height: 90px;
    background: #C4C4C4;
}
@media (min-width:768px){
    .imag{
        Width:264px;
        Height:264px;
        background: #C4C4C4; 
    }
}
.letre{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}
@media (min-width:768px){
    .letre{
        font-weight: 700;
        font-size: 17px;
        line-height: 28px;
    }
}
.deux{
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;      
}
@media (min-width:768px){
    .deux{
        font-weight: 400;
        font-size: 17px;
        line-height: 28px;      
    }
}
.product{
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    height: auto;
}
@media (min-width:768px){
    .product{
        align-items: center;
        justify-content: space-between;
        width: 1171px;
        height: auto;
        display:flex;
        flex-direction: row;
        margin-top:500px;
        margin-left: auto;
        margin-right: auto;
    }
}
.bloc{
    width: auto;
    height: 150px;
    align-items: center;
    display: flex;
    background: #C4C4C4;
  }
  @media (min-width:768px){
    .bloc{
        width: 556px;
        height: 545px;
        align-items: center;
        display: flex;
        background: #C4C4C4;
      }
}
.next{
    width: 100px;
    height: 100px;
    margin-left: auto;
}
@media (min-width:768px){
    .next{
        width: 65px;
        height: 65px;
        margin-left: auto;
    }
}
.bloc1{
    padding-top: 200px;
    width: 556px;
    height: auto;
}
@media (min-width:768px){
    .next{
        width: 65px;
        height: 65px;
        margin-left: auto;
    }
}
.enfe{
    display: flex;
    flex-direction: column;
}
@media (min-width:768pxx){
    .enfe{ 
        flex-direction: column;
    }
}
.prem{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}
@media (min-width:768px){
    .prem{
        font-weight: 600;
        font-size: 30px;
        line-height: 20px;
    }
}
.deux{
    left: 61.43%;
    right: 1.5%;
}
@media (min-width:768px){
    .next{
        width: 65px;
        height: 65px;
        margin-left: auto;
    }
}
.sous-titre3{
    width: auto;
    height: 40px;
    margin-top: 10px;
    font-weight: 300;
    font-size: 16px;
    line-height: 14px;
    color: black;
}
@media (min-width:768px){
    .sous-titre3{
        width: 476px;
        height: 78px;
        margin-top: 10px;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: black;
    }
}
.enf_un{
    display: flex;
    flex-direction: column;
}  
.option1{
    height: auto;
    gap: 15px;
    margin-top: 15px;
}
@media (min-width:768px){
    .option1{
        display: flex;
        height: 50px;
        gap: 15px;
        margin-top: 15px;
    }
}
.option1{
    height: auto;
    gap: 15px;
    margin-top: 15px;
}
@media (min-width:768px){
    .option1{
        display: flex;
        height: 50px;
        gap: 15px;
        margin-top: 15px;
    }
}
.btne{
    Width:167px;
    Height:50px;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.value{
    width: 20px;
    height: 20px;
}

.deu{
    width: 95px;
    height: 26px;
    align-items: center;
}
.phrage{
    text-align: center;
    opacity: 0.5;
    font-weight: 400;
    font-size: 2Opx;
}
.phrag{
    text-align: center;
    color: #000000;
    font-weight: 400;
    font-size: 2Opx;
   line-height: 26px;
}
.butum{
    width: 168px;
    height: 50px;
    background-color: #FFFFFF;
}
.letres{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    opacity: 0.5;
    margin-top: 15px;
}
.botns{
    width:198px;
    height: 50px;
    background-color: #000000;
    border: 1px solid #000000;
    color: #FFFFFF;
}
.butn{
    width:139px;
    height: 50px;
    background: #2F80ED;
    border: 1px solid #2F80ED;
    color: #FFFFFF;
}
.bloce{
    width: 556px;
    height: 545px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  @media (min-width:768px){
    .bloce{
        width: 556px;
        height: 545px;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
}
.dev{
    gap: 16px;
    width: 556px;
    height: 271px;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (min-width:768px){
    .dev{
        gap: 0px;
        width: 556px;
        display: flex;
        height: 271px;
        flex-direction: row;
        justify-content: space-between;
    }
}
.care{
    margin-top: 20px;
    margin-bottom: 20px;
    width:auto;
    height: 210px;
    background: #C4C4C4;
}
@media (min-width:768px){
    .care{
        width: 271px;
        height: 260px;
        background: #C4C4C4;
    }
}
.optimized{
    width: 402px;
    display: flex;
    gap: 10px;
   
}
.nexte{
    height: 46px; 
    display: flex;
    flex-direction:row;
    align-items: center;
    gap: 6px;
}
.deux{
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}
.prot{
    width: 336px;
    height: 28px;
    border: #000000 solid 1px;
    align-items: center;
}
.let{
    width: 320px;
    height: 28px;
    text-align: center;
    letter-spacing: -0.4px;
    margin-top: 6px;
}

.color{
    width: 110px;
   height: 87px;
}
.size{
    width: 399px;
    height: 87px;
}
.botn{
    width: 350px;
    height: 49px;
    background-color: #000000;
    border: 1px solid #000000;
    color: #FFFFFF; 
    cursor: pointer;
}

  .block:hover {
    background-color: #ddd;
    color: black;
  }
.btnes{
    Width: 100px;
    Height:50px;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.encore{
    display: flex;
    align-items: center;
    border: #000000 solid 0px;
    text-align: center;
    letter-spacing: -0.4px;
    align-items: center;
    margin-top: 20px;
}
.footer{
    width: auto;
    margin-right: auto;
    background: #EFF2F6
}
@media (min-width:768px){
    .footer{
        width: 1400px;
        height: 419px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-around;
        margin-top: 311px;
        background: #EFF2F6;
    }
}
.recte{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
@media (min-width:768px){
    .recte{
        width: 401px;
        height: 150px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}
.rects{
    display: flex;
    flex-direction: row;
}
@media (min-width:768px){
    .rects{
        width: 613px;
        height: 251px;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
}
.title{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}
.lorem{
    width: 400px;
    height: 32px;
}
.border{
    width: 390px;
    height: 40px;

}
.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    width: 613px;
    height: 251px;
  }
  
.td, th {
    
    text-align: left;
    padding: 8px;
  }
  .tab{
    font-size: 16px;
    font-weight: 400;
    opacity: 0.5;
  }
  .entéte{
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
  }
  .foot{
    width:190px ;
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
.Cart01{
    width: 1400px;
    height: 740px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width:768px){
    .Cart01{
        width: 1400px;
        height: 740px;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        margin-top: 311px;
    }
}
.cart{
    
    width: 1174px;
}
@media (min-width:768px){
    .cart{
        margin-left: auto;
        margin-right: auto;
        width: 1174px;
        height: 404px;
        display: flex;
        justify-content: space-between;
    }
}
.area1{
    display: flex;
    width: 564px;
    height: 404px;
    flex-direction: column;
    justify-content: space-around;
}
.título{
    width: 519px;
    height: 44px;
    font-weight: 600;
font-size: 36px;
line-height: 44px;

}
.phrasing{
    width: 357px;
    height: 26px;
    font-weight: 500;
font-size: 16px;
line-height: 26px;
}
.Horizontal{
    display: flex;
    flex-direction: row;
    width: 560px;
    height: 133px;
    justify-content: space-between;
}
.Image{
    width: 129px;
    height: 133px;
    background: #C4C4C4;
}
.Frame1{
    display: flex;
    flex-direction: column;
    gap: 7px;   
    width: 367px;
    height: 133px;
 
    align-items: flex-start;
}
.remove{
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.4px; 
    text-decoration-line: underline;
}
.obje{
    font-weight: 400;
    font-size: 14px;
}
.prisse{
    width: 189px;
    font-weight: 600;
    height: 30px;
    line-height: 30px;
    font-size: 22px;
}
.prix{
    width: 357px;
    font-weight: 400;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
}
.ligne{
    border: 1px solid #909090;
    width: 560px;
height: 0px;
left: 170px;
top: 374px;
transform: rotate(-0.1deg);
}
.area2{
    display: flex;
    width: 523px;
    height: 308px;
    flex-direction: column;
    gap: 16px;
}
.Biāotí{
    width: 519px;
height: 30px;
font-weight: 600;
font-size: 22px;
line-height: 30px;
letter-spacing: -0.55px;
}
.code{
    width: 398px;
    height: 40px;
}
.iteme{
    display: flex;
    flex-direction: column;
}
.Intem{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 402px;
    height: 96px;
    gap: 16px;
    margin-top: 18px;
}
.blab{
    width: 401px;
    height: 16px;
    display: flex;
    justify-content: space-between;
}
.blaba{
    width: 401px;
    height: 16px;
    display: flex;
    justify-content: space-between;
}
.lign{
    border: 1px solid #000000;
    width: 401px;
    transform: rotate(-0.1deg);
}
.one{}
.two{}
.bouton{
    width: 397px;
    height: 50px;
    padding: 20px 0px;
    background-color: #000;
    border: 1px solid #000000;
    color: #FFFFFF; 
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.protected{
    width: 578px;
    height: 247px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
}
@media (min-width:768px){
    .protected{
        width: 578px;
        height: 247px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 16px;
        margin-top:46px;
        margin-Left:110px;
    }
}
.letre1{
    width: 578px;
    height: 45px;
    border-bottom: #000 1px solid;
    align-items: center; 
}
.제목{
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.55px;
    color: #000000;
}
.protect{
    width: 578px;
    height: 88px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-bottom: gray 1px solid;
    gap: 11px;
    
}
.letre2{
    width: 571px;
    height: 22px;
    align-items: center; 
    display: flex;
    justify-content: space-between;
}
protecte{
    width: 519px;
    height: 44px;
}
.protects{
    Width:578px;
    Height:33px;
    border-bottom: gray 1px solid;
}
.intern{
    color: #909090;
}
.extern{
    color: #909090;
}
.Address{
    margin-top: 257px;
    height: auto;
    background: #EFF2F6;
    justify-content: space-around;
}
@media (min-width:768px){
    .Address{
        height: 900px;
        background: #EFF2F6;
        display: flex;
        justify-content: space-around;
    }
}
.checkout{
    width: 404px;
    height: 574px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.shop{
    width: 402px;
    height: 546px;
}
.letter{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}
.align{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 14px;
    width: 404px;
    
}
.mitovy{
    font-weight: 400;
    line-height: 28px;
    font-size: 17px;
    width: 68px;
    height: 28px;
}
.txt{
    Width:203px;
    Height:33px;
    font-weight: 400;
    line-height: 28px;
    font-size: 20px;
    margin-top: 20px;
}
.select{
    width: 398px;
    height: 290px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}   
.info{
    width: 398px;
    height: 40px;
    border: #000 solid 1px;
}
.info1{
    width: 398px;
    height: 40px;
    display: flex;
    flex-direction: row;
    gap: 7px;
}
.childs{
    display: flex;
    align-items: center;
    width: 195px;
    height: 40px;
    border: #000 solid 1px;
}
.chill{
    margin-left: 16px;
    font-weight: 400;
    letter-spacing: -0.3px;
    font-size: 14px;
    line-height: 16px;
    color: #A9ABBD;
}
.childe{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 126px;
    height: 40px;
    border: #000 solid 1px;
}

.area1-1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.título1{
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}
.phrasing{
    width: 357px;
    height: 26px;
    font-weight: 500;
    line-height: 26px;
    font-size: 16px;
}
.Horizontal1{
    display: flex;
    flex-direction: row;
    width: 401px;
    height: 133px;
    justify-content: space-between;
}
.Image1{
    width: 129px;
    height: 133px;
    background: #C4C4C4;
}
.Frame1-1{
    display: flex;
    flex-direction: column;
    gap: 7px;   
    width: 208px;
    height: 133px;
 
    align-items: flex-start;
}
.remove{
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.4px; 
    text-decoration-line: underline;
    height: 133px;
}
.obje{
    font-weight: 400;
    font-size: 14px;
}
.prisse1{
    width: 189px;
    font-weight: 600;
    height: 30px;
    line-height: 30px;
    font-size: 22px;
}
.prix1{
    width: 208px;
    font-weight: 400;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
}
.ligne1{
    border: 1px solid #909090;
    width: 401px;
}

.info1-1{
    margin-top: 13px;
    width: 398px;
    height: 40px;
    border: #000 solid 1px;
}
.childs1{
    display: flex;
    align-items: center;
    width: 146px;
    height: 17px;
    margin-top: 10px;
}
.chill-1{
    
    margin-left: 16px;
    font-weight: 400;
    letter-spacing: -0.3px;
    font-size: 14px;
    line-height: 16px;
    color: #A9ABBD;
}

.Intem1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 402px;
    height: 96px;
    gap: 20px;
    margin-top: 18px;
}
.blab{
    width: 401px;
    height: 16px;
    display: flex;
    justify-content: space-between;
}
.blaba{
    width: 401px;
    height: 16px;
    display: flex;
    justify-content: space-between;
}
.lign{
    border: 1px solid #000000;
    width: 401px;
}
.one{}
.two{}
