body{
    font-family: 'Public Sans', sans-serif;
}
.navbar{
    border-bottom: 2px solid gray;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}
.logo{
    border: 0px solid gray;
    height: 30px; 
    width: 400px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.text{
    font-weight: bold; 
    align-items: center; 
}
.recherch{
    display: flex;
    border: 0px solid gray;
    width: 100px;
    height: 30px;
    align-items: center;
}
.recherche{
    color: gray;
}
.login{
    border: 0px solid gray;
    height: 30px; 
    width: 70px; 
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    text-align: center;
    height: 40px;
    width: 150px;
    background-color: transparent;
    border: 1px solid black;
    font-weight: 400;
    font-size: 15px;
}
.containt{
    margin-top: 10px;
    height: 200px;
    border: 0px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.contenu{
    border: 1px solid gray;
    width: 855px;
    height: 67px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.litle{
    border: 1px solid gray;
    width: 213px;
    height: 67px;
}

.Rectangle{
    border: 1px solid gray;
    width: 920px;
    height: 521px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    
}
.protege{
    width: 100%;
    margin-bottom: 123px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 151px;
}
.frame{
    border: 1px solid gray;
    width: 368px;
    height: 521px;
    background-color: grey;
    margin: 10px ;
}
.frame:nth-child(2){
    transform: translateY(-20%);
}

.Rectangles{
    width: 835px;
    height: 682px;
    margin-left: auto;
    margin-right: auto;
}
.objet{
    border: 1px solid gray;
    width: 265px;
    height: 331px;
}

.containt1{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;

}

.btn2{
    text-align: center;
    height: 40px;
    width: 150px;
    background-color: transparent;
    border: 1px solid black;
    font-weight: 400;
    font-size: 15px;
}
.envelop{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100px;
    height: auto;
    justify-content: space-between;
}




.cercle{
    width: 835px;
    height: 682px;
    margin-top: 10px;
}

.ob3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 157px;
    height: 25px;
}

.objets:nth-child(1){
    background-color:#DF9167;
}

.objets:nth-child(2){
    background-color:#7B61FF;
}
  .objets:nth-child(3){
    background-color:#219653;
  }
  .objets:nth-child(4){
    background-color:#2F80ED;
  }
  .objets:nth-child(5){
      background-color:#EB5757;
    }

  .ob4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 157px;
    height: 25px;
    margin-top: 9px;
}
.objes:nth-child(1){
    background-color:#DF9167;
}

.objes:nth-child(2){
    background-color:#4F4F4F;
}
.objes:nth-child(3){
    background-color:#BB6BD9;
    }
    .objes:nth-child(4){
        background-color:#F2F2F2;
    }
    .objes:nth-child(5){
        background-color:#6FCF97;
    }
    
    
    .objets{
        border: 1px solid gray;
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }
    .proteges{
        display: flex;
        flex-direction: column;
        align-items:center;
        
    }
    .ob1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 835px;
        height: 340px;
    }
    .ob2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 835px;
        height: 340px;
    }

    



    

















































































































































































































































































































































































































































































































































































































































.pro1{
    border: 0px solid ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    height: 20px;

 
}
.titre{
    font-size: large;
    color: black;
   
}
.search{
    color: gray;
    
}
.pro2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0px solid;
    width: 100px;
    height: 20px;
}
.text{
    border: 0px solid gray;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    flex-direction: column;
}
.titre{
    border: 0px solid gray;
    height: 30px;
    width: 70%;
    font-size: revert;
    text-align: center;
}
.lorem{
    border: 0px solid gray;
    height: 50px;
    width: 70%;
}
